* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


html {
    background-color: #6376a4;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: bangla;
    src: url(assets/fonts/Bangla\ MN.ttf);
  }

#title {
    font-size: 70vw;
    color: white;
    font-style:bangla ;
}